# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Builds
dist/
bundle/
lib/
docs/
*.tsbuildinfo
*.d.ts
*.map

# Environment Variables
.env*
!.env.example

# macOS & Windows
.DS_Store
Thumbs.db
